<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="img/logo.png">
	<link rel="stylesheet" href="css/magnific-popup.css">
 	<link rel="stylesheet" href="css/style.css">
    <title>InkTatoo</title>
</head>
<body>
     <header>
         <nav id="home">
             <ul id="nav">
               <li class='topnav'><a href="#home">home</a></li>
               <li class='topnav'><a href="#about">about</a></li>
               <li class='topnav'><a href="#gallery">gallery</a></li>
               <li><img src="img/logo.png" alt="logo"></li>
               <li class='topnav'><a href="#team">team</a></li>
               <li class='topnav'><a href="#map">map</a></li>
               <li class='topnav'><a href="#contact">contacts</a></li>
             </ul>
         </nav>
     </header>
    <main>
        <section class="about" id="about">
         <div class="about-top"> 
                <div class="about-us__bg">
                    <h1>about</h1>
                </div>
                <div class="about-us__descr">
                    
                        <img src="img/about/icon.png" alt="">
                       
                        <p class="about-tittle">Aliquam ac justo interdum, elementum ligula et, condimentum orci. <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p class="about-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc risus eros, ultricies quis erat sit amet, elementum vulputate lorem. Sed at lacinia lectus, quis blandit libero. <br>
Quisque ac malesuada lectus. Proin gravida feugiat commodo. Phasellus fermentum sem ut felis vehicula aliquet. Donec rhoncus, mi et euismod dictum, purus lorem vehicula justo, a iaculis mi nulla et risus.</p>
                    
                </div>
            </div> 
            
            <div class="about-bottom">
                       <div class="img__wrapper">
                           <a href="img/about/big/1.jpg">
                                <img src="img/about/thumbnails/1.jpg" alt="">
                           </a>
                        </div>
                        <div class="img__wrapper">
                      <a href="img/about/big/2.jpg">
                                <img src="img/about/thumbnails/2.jpg" alt="">
                        </a>
                    </div>
                       <div class="img__wrapper">
                        <a href="img/about/big/3.jpg">
                            <img src="img/about/thumbnails/3.jpg" alt="">
                            </a>
                    </div>
                    <div class="img__wrapper">
                        <a href="img/about/big/4.jpg">
                            <img src="img/about/thumbnails/4.jpg" alt="">
                            </a>
                    </div>
                      <div class="img__wrapper">
                       <a href="img/about/big/5.jpg">
                            <img src="img/about/thumbnails/5.jpg" alt="">
                            </a>
                    </div>
                    <div class="img__wrapper">
                        <a href="img/about/big/6.jpg">
                            <img src="img/about/thumbnails/6.jpg" alt=""> 
                            </a>
                    </div>
                       <div class="img__wrapper">
                          <a href="img/about/big/7.jpg"> 
                            <img  src="img/about/thumbnails/7.jpg" alt="">
                            </a>
                       </div> 
                        <div class="img__wrapper">
                           <a href="img/about/big/8.jpg">
                            <img src="img/about/thumbnails/8.jpg" alt="">
                            </a>
                        </div>
                        <div class="img__wrapper">
                           <a href="img/about/big/9.jpg">
                            <img src="img/about/thumbnails/9.jpg" alt="">
                            </a>
                        </div>
                        <div class="img__wrapper">
                           <a href="img/about/big/10.jpg">
                            <img src="img/about/thumbnails/10.jpg" alt="">
                            </a>
                        </div>
                       <div class="img__wrapper">
                           <a href="img/about/big/11.jpg">
                            <img src="img/about/thumbnails/11.jpg" alt="">
                            </a>
                        </div>
                        <div class="img__wrapper">
                           <a href="img/about/big/12.jpg">
                            <img src="img/about/thumbnails/12.jpg" alt="">
                            </a>
                        </div>
 
                </div>
            <div class="about-quote">
               <div class="quote-tittle" style="padding-top: 54px;">
                  
                  <div class="quote-wrapper">
                       <p class="quote">Aliquam ac justo interdum, elementum ligula et, condimentum orci.</p>
                    </div>
                  
                   <p class="name">- JOHN DOE -</p>
               </div>
                
            </div>
        </section>
        <section class="team" id="team">
            <div class="team-title">
                <div class="team-title__wrapper">
                    <h1>team</h1>
                </div>
            </div>
            <div class="team-email__responsive">
                <div class="team-email__wrapper">
                    <h4>newsletter</h4>
                     <p>join thousand of other people<br>subscribe to our news</p>
                    <form>
                        <input type="email" placeholder="inser email"><br>
                        <button type="submit">submit</button>
                    </form>
                </div>
            </div>
            
            
                <img src="img/team/1%20(1).jpg" alt="">
               
            <div class="team-descr">
                <div class="team-descr__wrap">
                    <h2>Cory Miller</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc risus eros, ultricies quis erat sit amet, elementum vulputate lorem. Sed at lacinia lectus, quis blandit libero. 
Quisque ac malesuada lectus. Proin gravida feugiat commodo. Phasellus fermentum sem ut felis vehicula aliquet. Donec rhoncus, mi et euismod dictum, purus lorem vehicula justo, a iaculis mi nulla et risus.</p>
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-tumblr"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div>
            </div>
            
                <img src="img/team/2%20(1).jpg" alt="" class='fem-img'>
               
           
            <div class="team-descr-fem">
                <div class="team-descr__wrap">
                <h2>Kat Von D</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc risus eros, ultricies quis erat sit amet, elementum vulputate lorem. Sed at lacinia lectus, quis blandit libero. 
Quisque ac malesuada lectus. Proin gravida feugiat commodo. Phasellus fermentum sem ut felis vehicula aliquet. Donec rhoncus, mi et euismod dictum, purus lorem vehicula justo, a iaculis mi nulla et risus.</p>
                <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-tumblr"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
            </div>
            </div>
            <div class="team-email">
                <div class="team-email__wrapper">
                    <h4>Newsletter</h4>
                    <p>join thousand of other people<br>subscribe to our news</p>
                    <form>
                        <input type="email" placeholder="insert email"><br>
                        <button type="submit">submit</button>
                    </form>
                </div>
               </div>
            
        </section>
        <div class="team-quote">
               <div class="team-quote__wrapper">
                    <a href="#"><i class="fab fa-twitter"></i></a> <br>
                
                <p>RT @collis: Business ideas grow with innovators. Look for ways to cooperate. Small startups today can become big friends later. (9/10) 2 days ago</p>
               </div>
               
            </div>
        <section class="gallery" id="gallery">
                <div class="gallery-top">
                   <div class="gallery-tittle__bg">
                      <div class="gallery-t__wrap">
                       <h1>gallery</h1>
                       </div>
                   </div>
                   <div class="gallery-cards">
                    <div class="img__wrapper">
                      <a href="img/gallery/big/1_1.jpg">
                        <img src="img/gallery/thumbnails/row1_1.jpg" alt="">
                        </a>
                   </div>
                    <div class="img__wrapper">
                      <a href="img/gallery/big/1_2.jpg">
                       <img src="img/gallery/thumbnails/row1_2.jpg" alt="">
                       </a>
                   </div>
                    <div class="img__wrapper">
                      <a href="img/gallery/big/1_3.jpg">
                       <img src="img/gallery/thumbnails/row1_3.jpg" alt="">
                        </a>
                   </div>
                   </div>
                </div>
                <div class="gallery-bottom">
                    <div class="img__wrapper">
                       <a href="img/gallery/big/2_1.jpg">
                        <img src="img/gallery/thumbnails/row2_1.jpg" alt="">
                        </a>
                    </div>
                    <div class="img__wrapper">
                       <a href="img/gallery/big/2_2.jpg">
                        <img src="img/gallery/thumbnails/row2_2.jpg" alt="">
                        </a>
                    </div>
                    <div class="img__wrapper">
                       <a href="img/gallery/big/2_3.jpg">
                        <img src="img/gallery/thumbnails/row2_3.jpg" alt="">
                        </a>
                    </div>
                    <div class="img__wrapper">
                       <a href="img/gallery/big/2_4.jpg">
                        <img src="img/gallery/thumbnails/row2_4.jpg" alt="">
                        </a>
                    </div>
                    <div class="img__wrapper">
                       <a href="img/gallery/big/2_5.jpg">
                        <img src="img/gallery/thumbnails/row2_5.jpg" alt="">
                       </a> 
                    </div>
                    <div class="img__wrapper">
                       <a href="img/gallery/big/3_1.jpg">
                        <img src="img/gallery/thumbnails/row3_1.jpg" alt="">
                        </a> 
                    </div>
                    <div class="img__wrapper">
                       <a href="img/gallery/big/3_2.jpg">
                        <img src="img/gallery/thumbnails/row3_2.jpg" alt="">
                        </a>
                    </div>
                    <div class="img__wrapper">
                       <a href="img/gallery/big/3_3.jpg">
                        <img src="img/gallery/thumbnails/row3_3.jpg" alt="">
                       </a> 
                    </div>
                    <div class="img__wrapper">
                       <a href="img/gallery/big/3_4.jpg">
                        <img src="img/gallery/thumbnails/row3_4.jpg" alt="">
                       </a> 
                    </div>
                    <div class="img__wrapper">
                       <a href="img/gallery/big/3_5.jpg">
                        <img src="img/gallery/thumbnails/row3_5.jpg" alt="">
                        </a>
                    </div>
                    <div class="img__wrapper">
                       <a href="img/gallery/big/4_1.jpg">
                        <img src="img/gallery/thumbnails/row4_1.jpg" alt="">
                       </a> 
                    </div>
                    <div class="img__wrapper">
                       <a href="img/gallery/big/4_2.jpg">
                        <img src="img/gallery/thumbnails/row4_2.jpg" alt="">
                       </a> 
                    </div>
                    <div class="img__wrapper">
                       <a href="img/gallery/big/4_3.jpg">
                        <img src="img/gallery/thumbnails/row4_3.jpg" alt="">
                        </a>
                    </div>
                    <div class="img__wrapper">
                       <a href="img/gallery/big/4_4.jpg">
                        <img src="img/gallery/thumbnails/row4_4.jpg" alt="">
                        </a>
                    </div>
                    <div class="img__wrapper">
                       <a href="img/gallery/big/4_5.jpg">
                        <img src="img/gallery/thumbnails/row4_5.jpg" alt="">
                        </a>
                    </div>
                </div>
            </section>
        <section class="contact" id="contact">
            <div class="contact__wrapper">
                <div class="contact-text-side">
                    <h2>contacts</h2>
                    <p class='contact-descr'>Aliquam ac justo interdum, elementum ligula et, condimentum orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <div class="adress">
                        <p><strong>INFO:</strong> <br> <br>

TEL: <strong>+ 123-456-789-456</strong> <br>
FAX: <strong>+ 123-456-789-456</strong><br>
EMAIL: <strong>info@inktattoo.net</strong><br>
ADRESS: <strong>1234 Street Road, City Name</strong></p>
                        <p><strong>WORK HOURS:</strong><br><br>

MONDAY - FRIDAY: <strong>09AM - 18PM</strong><br>
SATURDAY: <strong>09AM - 1PM</strong><br>
SUNDAY: <strong>CLOSED</strong></p>
                    </div>
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-tumblr"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div>
                <div class="contact-form">
                    <form name="contact">
                        <input type="text" placeholder="NAME">
                        <input type="email" placeholder="EMAIL">
                        <textarea cols="30" rows="10" placeholder="MESSAGE"></textarea>
                        <button>SEND</button>
                    </form>
                </div>
            </div>
        </section>
        <div id="map">
            <iframe height="400"  src="https://www.openstreetmap.org/export/embed.html?bbox=-118.18902969360353%2C33.76666168664661%2C-118.12328338623048%2C33.809604666508946&amp;layer=mapnik&amp;marker=33.788145416364124%2C-118.15612425" style="vertical-align: bottom;"></iframe>
        </div>
    </main>
    <footer>
         <nav class='bottomnav'>
             <ul>
               <li class='topnav'><a href="#home">home</a></li>
               <li class='topnav'><a href="#about">about</a></li>
               <li class='topnav'><a href="#gallery">gallery</a></li>
               <li class="logo"><img src="img/logo.png" alt="logo"></li>
               <li class='topnav'><a href="#team">team</a></li>
               <li class='topnav'><a href="#map">map</a></li>
               <li class='topnav'><a href="#contact">contacts</a></li>
             </ul>
              <p>&#169; 2019  InkTattoo. All rights reserved. <br> Designed by<a href="http://theuncreativelab.com">theuncreativelab.com</a>|<a href="#">flerro</a></p>
         </nav>
        
    </footer>

   

    
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
   <script src="https://kit.fontawesome.com/03783df682.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>
