.reviews {
    background-color: #f8f8f8;
    padding: 70px 0;
    margin-top: 120px;
    &--white {
       background-color: #fff; 
        padding-top: 100px;
        padding-bottom: 130px;
    }
    
    &__items {
        position:relative;
        padding: 0 75px;
    }
    
    &__items .slick-arrow {
        position: absolute;
        top: 40%;
        z-index: 3;
        font-size: 0;
        transform:translateY(-40%);
        width: 30px;
        height: 60px;
        border:0;
        outline: 0;
        &:hover {
            cursor:pointer;
        }
    }
    
    &__items .slick-arrow.slick-prev {
        left: 0;
        background: url("../img/arrow_left.svg") 0 0 / 100% no-repeat;
    }
    &__items .slick-arrow.slick-next{
        right: 0;
        background: url("../img/arrow_right.svg") 0 0 / 100% no-repeat;
    }
    &__item {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
    &__photo {
        flex: 0 0 auto;
        max-width: 100%;
        &--round {
            flex: 0 0 auto;
            max-width: 100%;
            border-radius: 50%;
        }
    }
    &__text-wrapper {
        padding-left: 61px;
    }
    
    &__text {
        color: #999999;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        margin-bottom: 20px;
//        &--cli {
//            padding-left: 40px;
//        }
    }
    &__author {
        color: #333333;
        font-family: KaushanScript;
        font-size: 24px;
        font-weight: 400;
    }
    &__author:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 60px;
        height: 3px;
        background-color: #f38181;
        margin-right: 10px;
    }
}


@media screen and (max-width:760px) {
    .reviews {
        &__items {
            width: 90%;
            margin: 0 auto;
        }
        &__item {
            display: block;
            margin: 0 auto 30px;
        }
        &__photo, &__photo--round {
            display: block;
            margin: 0 auto;
        }
        &__text--cli {
            padding-left:0; 
        }
        &__author--cli {
            padding-left: 0;
        }
        &__text-wrapper {
            padding-left: 0;
        }
    }
}

@media screen and (max-width:560px) {
    .reviews {
        &__items {
            width: 100%;
            padding: 0;
        }
        &__items .slick-arrow {
            top: 10%;
            transform: translateY(-10%);
        }
        &__text {
            font-size: 20px;
            line-height: 34px;
        }
    }
}