.preloader {
   background-color:rgba(255,255,255, 1);
   position:fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;   
   z-index: 100;
    &__img {
        background: url(../img/dove.png) no-repeat center center;
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 101;
        animation: animate 2s infinite;

    }
}

@media screen and (max-width:500px) {
    .preloader__img {
       transform: scale(0.8);
    }
}

@keyframes animate {
    0% {
       transform:scale(1);
    }
    50% {
       transform:scale(0.7);
    }
    100% {
       transform:scale(1);
    }
}
